.footer{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 390px;
    height: 100px;
    left: 0px;
    top: 745px;
    border-top: 1px solid var(--white);
}

button{
    /* display: flex;
    flex-direction: row;  */
    width: 65.86px;
    height: 65.86px;
    border-radius: 50%;
    margin: 0 12.5px 0 12.5px;
    background-color: var(--darkblue);

}

/* Centered Image Code !! */
img {
    display: block;
    width: 50%;
    margin: auto;
  }

.iconPlusSize{
    width: 35%;
 }

/* buttons chgmt of color */

.lightgreen{
    background-color: var(--lightgreen);
}