<div class="footer">
    <div class="buttons">
        <!-- définir les classes CSS dynamiquement avec [ngClass]. "lightgreen" if true, else "byDefault" -->
        <button class="btnTaskList" routerLink="/" [ngClass]="{'lightgreen' : home, 'byDefault' : !home}">
            <img src="assets/svg_footer/list.svg" alt="icône menu">
        </button>

        <button class="btnNewTask" routerLink="/new" [ngClass]="{'yellow' : new, 'byDefault' : !new}">
            <img class="iconPlusSize" src="assets/svg_footer/plus.svg" alt="icône plus">
        </button>

        <button class="btnHistory" routerLink="/history" [ngClass]="{'pink' : history, 'byDefault' : !history}">
            <img src="assets/svg_footer/history.svg" alt="icône horloge">
        </button>
    </div>
</div>