.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 390px;
    height: 100px;
    border-top: 1px solid var(--white);
}

button {
    width: 65.86px;
    height: 65.86px;
    border-radius: 50%;
    margin: 0 12.5px;
}


/* Centered Image Code !! */
img {
    display: block;
    width: 50%;
    margin: auto;
}

/* CHANGEMENT COULEUR DE BOUTONS */

.byDefault {
    background-color: var(--darkblue);
}

.lightgreen {
    background-color: var(--lightgreen);
}

.yellow {
    background-color: var(--yellow);
}

.pink {
    background-color: var(--pink);
}



/* pour une autre fois */

/*BTN CHANGENT DE COULEUR SELON S ILS SONT ACTIFS
MAIS CELA NE FONCTIONNE QU'AVEC UNE SEULE COULEUR 

SUR L'HTML IL FAUT AJOUTER routerLinkActive="active"

<div class="buttons nav"> <!-- Ajoutez la classe nav pour créer une barre de navigation -->
        <button class="btnTaskList" routerLink="/" routerLinkActive="active"> <!-- Utilisez routerLinkActive et spécifiez la classe "active" -->
            <img src="assets/svg_footer/list.svg" alt="icône menu">
        </button>

        <button class="btnNewTask" routerLink="/new" routerLinkActive="active"> <!-- Utilisez routerLinkActive et spécifiez la classe "active" -->
            <img class="iconPlusSize" src="assets/svg_footer/plus.svg" alt="icône plus">
        </button>

        <button class="btnHistory" routerLink="/history" routerLinkActive="active"> <!-- Utilisez routerLinkActive et spécifiez la classe "active" -->
            <img src="assets/svg_footer/history.svg" alt="icône horloge">
        </button>
    </div>*/

/* .nav .active {
     background-color: #f00; 
} */