<!-- if urgent -->

<p>⚠️ Tâches urgentes </p>
<ng-container *ngFor="let item of taskService.todoListLS">
  <div *ngIf="item.isUrgent">
    <label for="{{item.id}}">
      <input class="test" id="{{item.id}}" [value]='item.id' type="checkbox">
      {{item.category}} {{item.content}}
    </label>
  </div>
</ng-container>

<!-- if not urgent -->

<p>🌸 Autres tâches</p>
<ng-container *ngFor="let item of taskService.todoListLS">
  <div *ngIf="!item.isUrgent">
    <label for="{{item.content}}">
      <input id="{{item.id}}" [value]='item.id' type="radio">
      {{item.category}} {{item.content}}
    </label>
  </div>
</ng-container>
