<!-- if urgent -->

<p *ngIf="displayUrgentTask()">⚠️ Tâches urgentes </p>
<ng-container *ngFor="let item of taskService.getTask()">
  <div class="taskList" *ngIf="item.isUrgent">
    <label for="{{item.id}}">
      <input id="{{item.id}}" [value]='item.id' type="radio" (click)="saveOnHistory()">
      <div class="taskContent" (click)="editMyTask()">
        <span class="categorySpaceBtw">{{item.category}}</span> 
        <span>{{item.content}}</span>
      </div>
    </label>
  </div>
</ng-container>




<!-- if not urgent -->

<p *ngIf="displayOtherTask()">🌸 Autres tâches</p>
<ng-container *ngFor="let item of taskService.getTask()">
  <div class="taskList" *ngIf="!item.isUrgent">
    <label for="{{item.content}}">
      <input id="{{item.id}}" [value]='item.id' type="radio" (click)="saveOnHistory()">
      <div class="taskContent" (click)="editMyTask()">
        <span class="categorySpaceBtw">{{item.category}}</span> 
        <span>{{item.content}}</span>
      </div>
    </label>
  </div>
</ng-container>