main {
    display: flex;
    flex-direction: column; 
    height: 100vh; 
    max-height: 100vh; 
    flex: 1;
    overflow-y: scroll;
}

/* .header{
    align-self: flex-start;
}*/


.footer {
    align-self: flex-end;
    
} 