/* BOUTONS CATEGORIES */

.btnTaskCategoryGroup{
    display: flex;
    justify-content: space-around;
}

input[type="radio"].categoryChoice1 {
    display: none;
}
input[type="radio"].categoryChoice1 + label {
    padding: 15px 18px;
    line-height: 1.5;
    border-radius: 50%; 
    background-color: var(--darkblue);
    border: 1px solid transparent;
}


input[type="radio"].categoryChoice2 {
    display: none;
}
input[type="radio"].categoryChoice2 + label {
    padding: 15px 18px;
    line-height: 1.5;
    border-radius: 50%; 
    background-color: var(--darkblue);
    border: 1px solid transparent;
}

input[type="radio"].categoryChoice3 {
    display: none;
}
input[type="radio"].categoryChoice3 + label {
    padding: 15px 18px;
    line-height: 1.5;
    border-radius: 50%; 
    background-color: var(--darkblue);
    border: 1px solid transparent;
}

input[type="radio"].categoryChoice4 {
    display: none;
}
input[type="radio"].categoryChoice4 + label {
    padding: 15px 18px;
    line-height: 1.5;
    border-radius: 50%; 
    background-color: var(--darkblue);
    border: 1px solid transparent;
}

input[type="radio"].categoryChoice5 {
    display: none;
}
input[type="radio"].categoryChoice5 + label {
    padding: 15px 18px;
    line-height: 1.5;
    border-radius: 50%; 
    background-color: var(--darkblue);
    border: 1px solid transparent;
}

input[type="radio"].categoryChoice6 {
    display: none;
}
input[type="radio"].categoryChoice6 + label {
    padding: 15px 18px;
    line-height: 1.5;
    border-radius: 50%; 
    background-color: var(--darkblue);
    border: 1px solid transparent;
}


/* PARTIE FORMULAIRE */
/* .btnTaskCategory{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--darkblue);
    text-align: center;
} */

.entry-field{
    width: 338px;
    height: 182px;
    background-color: var(--darkblue);
    /* retire la bordure qui s'affiche au click de la saisie */
    /* BESOIN??? */
    outline: none;
    display: flex;
    align-content: center;
}

.btnValidatetask{
    width: 248px;
    height: 48px;
    left: 71px;
    top: 672px;
    text-align: center;
    background: rgba(100, 167, 217, 0.5);
    border-radius: 30px;
}

input .checkboxIsUrgent{
    border-radius: 50%;
}
[type=checkbox] {
    width: 25px;
    height: 25px;
    margin-right: 11px;
    vertical-align: middle;
    -webkit-appearance: none; 
    border-radius: 50%;
    background-color:var(--darkblue);
    cursor: pointer;
  }
  input:checked{
    background-color: var(--pink); 
  }
  