/* You can add global styles to this file, and also import other style files */

/* IMPORT QUICKSAND */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
/* font-family: 'Quicksand', sans-serif; */



/* VARIABLES */
:root {
    --bluenight: #040722;
    --darkblue: #1D2038;
    --pink: #E475F1;
    --yellow: #F3D24F;
    --lightblue: #64A7D9;
    --lightgreen: #88E7A1;
    --white: #FFFFFF;
    --quicksand: 'Quicksand', sans-serif; 
}

/* NORMALIZE */
*, body{
    padding: 0;
    margin: 0;
    /* ?? */
    list-style:none; 
    font-family: var(--quicksand);
    font-size: 16px;
    color: var(--white);   
}


h3{
    font-size: 20px;
}

a{ 
    text-decoration:none; 
} 

/* retire la bordure */
button{
    all:unset;
}

/* BACKGROUND-COLOR */
body{
    background-color: var(--bluenight);
}

/* SCROLLBAR CUSTOM */
/* https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */

/* width */
::-webkit-scrollbar {
    width: 4px;
} 
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: var(--yellow);
    border-radius: 10px;
  }